{
  "openapi": "3.1.1",
  "info": {
    "title": "TrackingApi | v1",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bwtrackapi2.betacrest.com/"
    }
  ],
  "paths": {
    "/GetTest/{id}": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/GetRoute/{routeid}": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "routeid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/GetRouteByUserId": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/PostStatusByUserId": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/PostSignature": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/Check_In": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/check_out": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/start_day": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/end_day": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/GetTruckByUserId": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/GetTrucks": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/GetClients": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "clientType",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Bank"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/GetBanks": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/GetBranchesByState/{state}": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientType",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Bank"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/PostManualEvacuation": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/PostEvacuationReceipt": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/GetIncomingSealsByRoute/{routeId}/{userId}": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "routeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/PostIncomingSealsByRoute": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/GetIncomingSealsByBank/{bankId}/{userId}": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "bankId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/PostIncomingSealsByBank": {
      "post": {
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/PostDeviceLocation": {
      "post": {
        "tags": [
          "Gps"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/D_DevicePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/WeatherForecast": {
      "get": {
        "tags": [
          "WeatherForecast"
        ],
        "operationId": "GetWeatherForecast",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherForecast"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherForecast"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherForecast"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "D_DevicePostDto": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": [
              "null",
              "string"
            ]
          },
          "utcDateTime": {
            "type": [
              "null",
              "string"
            ]
          },
          "note": {
            "type": [
              "null",
              "string"
            ]
          },
          "action": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "type": [
              "null",
              "string"
            ]
          },
          "bankid": {
            "type": [
              "null",
              "string"
            ]
          },
          "branchid": {
            "type": [
              "null",
              "string"
            ]
          },
          "batchid": {
            "type": [
              "null",
              "string"
            ]
          },
          "originationid": {
            "type": [
              "null",
              "string"
            ]
          },
          "originationbranchid": {
            "type": [
              "null",
              "string"
            ]
          },
          "destinationbankid": {
            "type": [
              "null",
              "string"
            ]
          },
          "destinationbranchid": {
            "type": [
              "null",
              "string"
            ]
          },
          "processingtype": {
            "type": [
              "null",
              "string"
            ]
          },
          "proctype": {
            "type": [
              "null",
              "string"
            ]
          },
          "userid": {
            "type": [
              "null",
              "string"
            ]
          },
          "refnumber": {
            "type": [
              "null",
              "string"
            ]
          },
          "longitude": {
            "type": [
              "null",
              "string"
            ]
          },
          "latitude": {
            "type": [
              "null",
              "string"
            ]
          },
          "mileage": {
            "type": [
              "null",
              "string"
            ]
          },
          "gaslevel": {
            "type": [
              "null",
              "string"
            ]
          },
          "truckid": {
            "type": [
              "null",
              "string"
            ]
          },
          "routeid": {
            "type": [
              "null",
              "string"
            ]
          },
          "signature": {
            "type": [
              "null",
              "string"
            ]
          },
          "seals": {
            "type": [
              "null",
              "string"
            ]
          },
          "email": {
            "type": [
              "null",
              "string"
            ]
          },
          "phone": {
            "type": [
              "null",
              "string"
            ]
          },
          "vaultid": {
            "type": [
              "null",
              "string"
            ]
          },
          "xmlresponse": {
            "type": [
              "null",
              "string"
            ]
          },
          "batterystatus": {
            "type": [
              "null",
              "string"
            ]
          },
          "incidentytype": {
            "type": [
              "null",
              "string"
            ]
          },
          "image": {
            "type": [
              "null",
              "string"
            ]
          },
          "vaultstatus": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "LoginModel": {
        "required": [
          "userName",
          "password",
          "appId"
        ],
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "loginType": {
            "type": [
              "null",
              "string"
            ]
          },
          "device_Imei": {
            "type": [
              "null",
              "string"
            ]
          },
          "iPaddress": {
            "type": [
              "null",
              "string"
            ]
          },
          "latitude": {
            "type": [
              "null",
              "string"
            ]
          },
          "longitude": {
            "type": [
              "null",
              "string"
            ]
          },
          "appId": {
            "type": "string"
          }
        }
      },
      "WeatherForecast": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "temperatureC": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "temperatureF": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "summary": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Tracking"
    },
    {
      "name": "Gps"
    },
    {
      "name": "WeatherForecast"
    },
    {
      "name": "Auth"
    }
  ]
}